<div class="row">
    <div class="col-3">
        <input type="text" id="textNUm" #tempRollNo placeholder="Enter Roll No">
    </div>
    <div class="col-2">
        <button class="btn btn-sm btn-success" (click)="getRollNo()">
            Read
        </button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary" (click)="setRollNo()"> Set Roll No</button>
    </div> 
</div>

<div #myDiv>
    Div 11
</div>

<button (click)="addCss()">Add Css</button>
<hr>
<app-alert  [alertMessage]="'Tets Message'" [alertType]="'Success'">

</app-alert>