<div class="row">
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                    <th>Grade</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="isLoaderActive() == false">
                    <tr *ngFor="let item of playerList">
                        <td>{{item.name}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.contactNo}}</td>
                        <td>{{item.grade}}</td>
                        <td>
                            <span *ngIf="item.isActive else playerNotActioeTem"> Player is Active </span> 
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="isLoaderActive() == true">
                    <tr>
                        <td colspan="5">
                            <div class="spinner-border text-muted"></div>
                            <div class="spinner-border text-primary"></div>
                            <div class="spinner-border text-success"></div>
                            <div class="spinner-border text-info"></div>
                            <div class="spinner-border text-warning"></div>
                            <div class="spinner-border text-danger"></div>
                            <div class="spinner-border text-secondary"></div>
                            <div class="spinner-border text-dark"></div>
                            <div class="spinner-border text-light"></div>
                        </td>
                    </tr>
                </ng-container> 
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <ul>
             <ng-container *ngFor="let emp of empList">
                <li *ngIf="emp.status">{{emp.name}}</li>
             </ng-container>
        </ul>
    </div>
</div>

<ng-template #playerNotActioeTem>
    <strong>Player is not Playiog</strong>
</ng-template>

