/* You can add global styles to this file, and also import other style files */
.primay {
    color: red;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: greenyellow;
}