
selected Role: {{selectRoleName()}}

<br><br>
 Select Role Behavior: {{selectRoleNameBehvairo()}}
<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="emitSonyShows('Show 1')">Start Sony Show 1</button>
    </div>
     <div class="col-3">
        <button class="btn btn-success" (click)="emitSonyShows('Show 22')">Start Sony Show 2</button>
    </div>
     <div class="col-3">
        <button class="btn btn-success" (click)="emitSonyShows('Show 3')">Start Sony Show 3</button>
    </div>
     <div class="col-3">
        <button class="btn btn-success" (click)="emitSonyShows('Show 44')"> Start Sony Show 4</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="emiStarMovies('moview Three editos')">Start Star MOvie 1</button>
    </div>
     <div class="col-3">
        <button class="btn btn-success" (click)="emiStarMovies('moview 22')">Start Star MOvie 2</button>
    </div>
     <div class="col-3">
        <button class="btn btn-success" (click)="emiStarMovies('moview 33')">Start Star MOvie 3</button>
    </div> 
</div>